.home{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 100%;
	animation: show .5s ease-in-out forwards;
	/*background-color: rgb(92, 90, 90);*/
}
.news{
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
}


@keyframes show {
	from {
		height: 0;
	}
	to {
		height: 100vh;
	}
}