.home{
	margin: 0;
	padding: 0;
	width: 100%;
	animation: show .5s ease-in-out forwards;
	/*background-color: rgb(92, 90, 90);*/
}

.content{
	display: flex;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: #c1464659;*/
	overflow-y: hidden;
}
@keyframes show {
	from {
		height: 0;
	}
	to {
		height: 100vh;
	}
}