.info {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.info > p {
	font-size: 14px;
	margin-bottom: 1px;
}
/*.panel::before{
	content: " ";
	z-index: -10;
	position: absolute;
	width: 143px;
	height: 60px;
	top: -5px;
	left: -5px;
	background-color: #fff;
	background-image: linear-gradient(145deg,rgb(17, 142, 221), rgb(2,102,184));
	-webkit-clip-path: polygon(50% 0%, 95% 0, 100% 5%, 100% 95%, 95% 100%, 50% 100%, 5% 100%, 0 95%, 0 5%, 5% 0);
	clip-path: polygon(50% 0%, 95% 0, 100% 5%, 100% 95%, 95% 100%, 50% 100%, 5% 100%, 0 95%, 0 5%, 5% 0);
	border: rgb(37,203,255) solid 1px;
	margin: 5px;
	padding-top: 5px;
}*/
.panel:hover{
	z-index: 100000000;
	scale: 1.05;
	/*background-image: linear-gradient(-145deg,rgb(17, 142, 221), rgb(2,102,184));*/

}
.panel {
	/*box-shadow: 2px 2px 1px rgb(17, 142, 221);*/
	/*filter: drop-shadow(16px 16px 20px red);*/
	width: 143px;
	height:60px;
	
	background-image: linear-gradient(145deg,rgb(17, 142, 221), rgb(2,102,184));
	display: flex;
	margin: 5px 3px 5px 2px;
	padding: 5px 6px 0 6px;
	justify-content: space-between;
	flex-direction: row-reverse;
	border-radius: 3px;
	position: relative;
	cursor: pointer;
	/*scale: 0.8;*/
}

.desc {
	position: absolute;
	overflow: hidden;
	left: 143px;
	top: -20px;
	width: 190px;
	height: 0;
	background-color: #1a1616aa;
	color: #fff;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}
.desc > p {
	margin-left: 6px;
}

.panel:hover > .desc {
	padding: 8px 2px 0px 2px;
	border: #c9ced0 solid 2px;
	height: auto;
	z-index: 1000000000000;
}
.effectID{
	color: #fb9cfe;
	margin-left: 3px;
	text-decoration: underline;
}
.refresh:hover{
	filter: drop-shadow(5px 5px 5px #ffffff);
	scale: 1.01;
}