.inputPage{
	width: 40px;
	height: 33px;
	border-radius: 12%;
	text-align: center;
}
.inputPage::-webkit-outer-spin-button,
.inputPage::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
