.headimg{
	margin: 0;
	padding: 0;
	background-color: #5a5a5a79;
	border: rgba(0, 0, 0, 0.5) solid 3px;
}
.head{
	width: 89px;
}
a{
	color: rgb(58, 56, 56);
}
.head{
	cursor: pointer;
	display: flex;
}
