.searchInput{
	width: 200px;
	height: 30px;
}
.searchInput::placeholder{
	font-size:12px;
	font-family: 'seerFont';
}
.search_bar>*{
	margin: 0 8px;
}
fieldset{
	display: flex;
	flex-direction: column;
	
}
.search_bar{
	min-width: 1080px;
}
.randomBtn{
	width: 50%;
	margin-top: 10px;
	border: 2px solid #bfbfbf;
	outline: none;
}
.randomBtn:hover{
	background-color: rgb(232, 230, 230);
}

.tipsItem:hover{
	background-color: rgb(195, 195, 195);
}